venv/
.idea/
#web/papers/*
#!web/papers/files_paper/data.json
web/flask_session/
flask_session/
web/dist/
web/project/__pycache__/
web/build/
web/qresp.egg-info/
.cache/
web/project/config_test.ini 
web/project/tests/__pycache__/

# VsCode
.vscode/

# Python
__pycache__

# Dev
run_flask.sh


