version: '2'

services:
  web:
    restart: always
    build: ./web
    expose:
      - "8000"
    volumes:
      - /usr/src/app/web/project/static
    command: /usr/local/bin/gunicorn -w 2 -b :8000 project:app
    
  nginx:
    restart: always
    build: ./nginx
    ports:
      - "8080:8080"
    volumes:
      - /www/static
    volumes_from:
      - web
    depends_on:
      - web
