setuptools
jsonschema
Flask
Flask-API
Flask-Cors
Flask-HTTPAuth
flask-mongoengine
flask-profiler
Flask-Session
Flask-WTF
itsdangerous
Jinja2
mongoengine
paramiko
pre-commit
py3dns
pyasn1
pymongo
pyOpenSSL
swagger-spec-validator
swaggerpy
urllib3
validate-email
Werkzeug
WTForms
schedule
flask-sitemap
requests_oauthlib
mongomock
connexion[swagger-ui]
coverage
nose2
python-coveralls
lxml
gunicorn
