{% macro render_field(field) %}
    <div class="form-group row">
     {% if field.flags.required %}
         <label class="col-sm-12 col-form-label">{{ field.label }}<span style="color: red;">*</span> </label>
     {% elif field.label.text == "Main Notebook File" %}
         <label class="col-form-label" style="padding-left: 15px;position: relative;min-height: 1px;">{{ field.label }}</label>
         <img src='/static/images/folder-tree.png' style="height: 25px; margin-left: 1px; cursor: pointer;" class="folder-tree" id="{{ field.name }}-tree" name="{{ field.name }}-tree" alt='folder-tree'>
     {% else %}
         <label class="col-sm-12 col-form-label">{{ field.label }}</label>
    {% endif %}
    <div class="col-sm-12">
         {% if field.type != "RadioField" %}
            {{ field(class_='form-control',title=field.description,**{'data-toggle': 'tooltip'}) }}
           {% else %}
             {{ field(title=field.description,**{'data-toggle': 'tooltip','data-placement':'left'}) }}
        {% endif %}
        {% if field.errors %}
            <ul class=errors>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    </div>
{% endmacro %}

{% macro render_field_curate(field) %}

    <div class="form-group row">
    <div class="col-sm-12">
                {% if field.flags.required %}
                    <label class="col-form-label">{{ field.label }}<span style="color: red;">*</span> </label>
                {% else %}
                    <label class="col-form-label">{{ field.label }}</label>
                {% endif %}
                {% if field.label.text in ["Files","Image File","Notebook File","Patches"] %}
                    <img src='/static/images/folder-tree.png' style="height: 25px; margin-left: 1px; cursor: pointer;" class="folder-tree" id="{{ field.name }}-tree" name="{{ field.name }}-tree" alt='folder-tree'>
                {% endif %}
    </div>
    <div class="col-sm-12">
                {% if field.type != "RadioField" %}
                {{ field(class_='form-control',title=field.description,**{'data-toggle': 'tooltip'}) }}
               {% else %}
                 {{ field(title=field.description,**{'data-toggle': 'tooltip','data-placement':'left'}) }}
            {% endif %}
            {% if field.errors %}
                <ul class=errors>
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

    </div>
    </div>

{% endmacro %}