{% extends "base_curator.html" %}

{% block page_content %}
    <!-- Header -->
        <div class="card">
                <div class="card-body">
                   <p>
                        Qresp | Curator has generated the metadata file. <br/>
					    An email with a link has been sent to your email address(Inbox/Spam folder). <br/>
					    Please click on the link to publish the metadata to the Qresp | Explorer.

                   </p>
                </div>
            </div>

    <script type="text/javascript">
    $("#navbar>li.is-active").removeClass("is-active");
		$("#detailsid").addClass("is-complete");
		$("#welcomeid").addClass("is-complete");
		$("#serverid").addClass("is-complete");
		$("#projectid").addClass("is-complete");
		$("#curateid").addClass("is-complete");
		$("#workflowid").addClass("is-complete");
		$("#publishid").addClass("is-complete");
		$("acknowledgementid").addClass("is-active");

    </script>
<script src="{{ url_for('static', filename='./javascript/vendor/vis.min.js') }}"></script>
        <script type="text/javascript">
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-126882431-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'> </script>

{% endblock %}