{% extends "base.html" %}

{% block page_content %}
    <!-- Header -->
    <div class="container text-center">
            <div class="row">
                <div class="col-md-12 col-lg-12 p-20 pl-md-0 md-text-center">
                    <h2 class="text-black-444 pt-0 text-center">Choose server to search for papers</h2>
                    <form action="{{ url_for('search') }}" method="post">
                        <select name="serversList" id="serversList" class="selectpicker show-tick form-control"
                                data-width="auto" data-actions-box="true" multiple data-live-search="true">
                            {% for server in serverslist %}
                                <option value="{{ server.qresp_server_url }}">{{ server.qresp_server_url }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-default btn-theme-colored btn-lg m-0" style="margin-left: -5px;"
                                type="submit"> Search
                        </button>
                    </form>
                </div>
            </div>
             <div class="row">
                <div class="col-md-12 col-lg-12 p-20 pl-md-0 md-text-center">
                <div style="padding-top: 3rem;">
                    <h3 class="text-uppercase mb-0" style="text-align: justify;font-size: 30px;">Qresp | Explorer allows you to
                    search for paper contents and to view and download the data organized in the paper.</h3>
                </div>
                </div>
             </div>
        </div>
        <script type="text/javascript">
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-126882431-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'> </script>


{% endblock %}