{% extends "test_base.html" %}

{% block page_content %}
    {# Upload Buttons Sections  #}
    {% from "_formhelpers.html" import render_field, render_field_curate %}


    <div class="row">
        <div class="col-md-8">
           <span class="input-group-btn" data-toggle="tooltip" title="Continue with existing JSON file.">
                 <input type="button" id="btnCurator"
                        name="general_search_button" value="Resume"
                        class="btn btn-theme-colored btn-lg m-0"
                        style="font-weight: bold; height: 50px;" data-toggle='modal' data-target='#uploadModal' >
           </span>
        </div>
        <div class="col-md-4 mt-3">
           <span class="float-right">
               <a id="previewLink" data-toggle="tooltip" title='Preview your curated paper'><i class='fa fa-eye mr-3' style='font-size:23px; color: #800000;'></i></a>
               <a id="shareLink" data-toggle="tooltip" title='Share your curated paper'><i class='fa fa-share mr-3' style='font-size:23px; color: #800000;'></i></a>
               <a id="downloadLink" data-toggle="tooltip" title='Download the metadata of your curated paper'><i class='fa fa-download mr-3' style='font-size:23px; color: #800000;'></i></a>
           </span>
        </div>
    </div>
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadModalLabel">Upload/Paste JSON File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid pt-80 pb-10">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 p-20 pl-md-0 md-text-center">
                                <input type="file" id="my_file" class="pb-3" title="Select a file">
                                <textarea id="myTextArea" cols=100 rows=25 placeholder="Upload/Paste Here A JSON File"></textarea>
                                <div class="pt-4">
                                    <span class="input-group-btn">
                                        <input type="button" id="btnParse"
                                               name="btnParse"
                                               class="btn btn-theme-colored btn-lg m-0" title="Parses the JSON file and auto fills fields in the next steps."
                                               value="Continue"/>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Who is curating sections  #}

    <div id="accordion" class="mt-3">
        <div class="custom-card" id="editCurator">
            <div class="card-header">
                <h3 class="mb-0" data-toggle="tooltip" title="This step defines the identity of the person that is using Qresp | Curator to generate metadata.">
                    <a id="headingDetails" data-toggle="collapse" data-target="#detailsOne" aria-expanded="true" aria-controls="detailsOne">
                        <i class="fa fa-plus"></i>
                        Who is curating the paper?
                    </a>
                </h3>
            </div>

            <div id="detailsOne" class="collapse show" aria-labelledby="detailsOne" data-parent="#accordion">
                <div class="card-body">
                    <form method="post" id="detailsform">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="form-group row">
                            <label class="col-sm-12">Name<span style="color: red;">*</span>  </label>
                            <div class="col-sm-4">
                                {{ detailsform.firstName(class_='form-control',title=detailsform.firstName.description,**{'data-toggle': 'tooltip'}) }}
                            </div>
                            <div class="col-sm-4">
                                {{ detailsform.middleName(class_='form-control',title=detailsform.middleName.description,**{'data-toggle': 'tooltip'}) }}
                            </div>
                            <div class="col-sm-4">
                                {{ detailsform.lastName(class_='form-control',title=detailsform.lastName.description,**{'data-toggle': 'tooltip'}) }}
                            </div>
                        </div>
                        {{ render_field(detailsform.emailId) }}
                        {{ render_field(detailsform.affiliation) }}
                        <span class="input-group-btn">
                                        <input type="submit" id="btnDetails"
                                               value="Save"
                                               class="btn btn-theme-colored btn-lg m-0"
                                               style="font-weight: bold; height: 50px;">
                                    </span>
                    </form>
                </div>
            </div>
        </div>

        {# Where is the paper server location#}

        <div class="custom-card" id="editServer">
            <div class="card-header">
                <h3 class="mb-0" data-toggle="tooltip" title="This step defines the location of the remote server where the paper content is organized and  stored. The paper will be accessed by establishing HTTP access.">
                    <a class="collapsed" id="headingServer" data-toggle="collapse" data-target="#serverOne" aria-expanded="false" aria-controls="serverOne">
                         <i class="fa fa-plus"></i>
                        Where is the paper?
                    </a>
                </h3>
            </div>

            <div id="serverOne" class="collapse" aria-labelledby="serverOne" data-parent="#accordion">
                <div class="card-body">
                    <form method="post" id="serverform" name="serverform">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        {{ serverform.kind(title=serverform.kind.description,**{'data-toggle': 'tooltip','data-placement':'left'}) }}
                        <div id="HTTP" class="serverClass">
                            {{ render_field(serverform.hostUrl) }}
                        </div>
                        <div id="Zenodo" class="serverClass" style="display:none;">
                            {{ render_field(serverform.zenodoUrl) }}
                        </div>
                        <div id="Other" class="serverClass" style="display:none;">
                            {{ render_field(serverform.other) }}
                        </div>
                        <span class="input-group-btn">
                            <input type="submit" id="btnServer"
                                   value="Save"
                                   class="btn btn-theme-colored btn-lg m-0"
                                   style="font-weight: bold; height: 50px;">
                         </span>
                    </form>
                </div>
            </div>
        </div>


        {# Where is the paper server location#}

        <div class="custom-card" id="editProject">
            <div class="card-header">
                <h3 class="mb-0" data-toggle="tooltip" title="This step allows the user to navigate the server data tree and to select the folder with the paper content.">
                    <a class="collapsed" id="headingProject" data-toggle="collapse" data-target="#projectOne" aria-expanded="false" aria-controls="projectOne">
                        <i class="fa fa-plus"></i>
                        Choose your paper from the location
                    </a>
                </h3>
            </div>

            <div id="projectOne" class="collapse" aria-labelledby="projectOne" data-parent="#accordion">
                <div class="card-body">
                    <form class="tree-form" name="tree-form" id="projectform">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                          {{ render_field(projectform.folderAbsolutePath) }}
                         <span class="input-group-btn">
                             <input type="button" id="btnSearch"
                                   value="Search"
                                   class="btn btn-theme-colored btn-lg m-0"
                                   style="font-weight: bold; height: 50px;">
                            <input type="submit" id="btnProject"
                                   value="Save"
                                   class="btn btn-theme-colored btn-lg m-0"
                                   style="font-weight: bold; height: 50px;">
                         </span>
                        <div id="projtree" class="mt-3">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {# Where is the chart located#}
        <div class="custom-card" id="editChart">
            <div class="card-header">
                <h3 class="mb-0" data-toggle="tooltip" title="This section collects information about the Charts of the paper">
                    <a class="collapsed" id="headingChart" data-toggle="collapse" data-target="#chartOne" aria-expanded="false" aria-controls="chartOne">
                        <i class="fa fa-plus"></i>
                        Add Charts from your paper
                    </a>
                </h3>
            </div>
            <div id="chartOne" class="collapse" aria-labelledby="chartOne" data-parent="#accordion">
                <div class="card-body">
                     <div class="row mb-3">
                        <div class="col-md-12">
                           <span class="input-group-btn">
                                 <input type="button" id="btnChart"
                                        name="general_search_button" value="Add Chart"
                                        class="btn btn-theme-colored btn-lg m-0" title="Add new chart"
                                        style="font-weight: bold; height: 50px;" data-toggle='modal' data-target='#chartModal' >
                           </span>
                        </div>
                    </div>
                   <table id="tblcharts" class="display" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Image File</th>
                            <th></th>
                            <th>Number</th>
                            <th>Caption</th>
                            <th>Properties</th>
                            <th>Files</th>
                        </tr>
                        </thead>
                   </table>
                </div>
            </div>
        </div>


        {# Where is the tools located#}
{#        <div class="custom-card" id="editTool">#}
{#            <div class="card-header collapsed" id="headingTool" data-toggle="collapse" data-target="#toolOne" aria-expanded="false" aria-controls="toolOne">#}
{#                <h3 class="mb-0" data-toggle="tooltip" title="This section collects information about the Tools used in the paper. The tool represents the use of an instrument (either software or experimental set up)">#}
{#                    Add Tools from your paper to the workflow#}
{#                </h3>#}
{#            </div>#}
{##}
{#            <div id="toolOne" class="collapse" aria-labelledby="toolOne" data-parent="#accordion">#}
{#                <div class="card-body">#}
{#                   <form method="post" id="ToolForm" name="tools">#}
{#                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>#}
{#                            {{ toolform.kind(title=toolform.kind.description,**{'data-toggle': 'tooltip','data-placement':'left'}) }}#}
{#                            <div class="toolClass" id="software">#}
{#                                <table>#}
{#                                    <tbody>#}
{#                                    <div class="form-group row">#}
{#                                        <div class="col-sm-12">#}
{#                                             <label class="col-form-label">{{ toolform.packageName.label }}<span style="color: red;">*</span> </label>#}
{#                                        </div>#}
{#                                         <div class="col-sm-12">#}
{#                                             {{ toolform.packageName(class_='form-control',title=toolform.packageName.description,**{'data-toggle': 'tooltip'}) }}#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="form-group row">#}
{#                                        <div class="col-sm-12">#}
{#                                             <label class="col-form-label">{{ toolform.version.label }}<span style="color: red;">*</span> </label>#}
{#                                        </div>#}
{#                                         <div class="col-sm-12">#}
{#                                             {{ toolform.version(class_='form-control',title=toolform.version.description,**{'data-toggle': 'tooltip'}) }}#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    {{ render_field_curate(toolform.programName) }}#}
{#                                    {{ render_field_curate(toolform.patches) }}#}
{#                                    {{ render_field_curate(toolform.description) }}#}
{#                                    </tbody>#}
{#                                </table>#}
{#                            </div>#}
{#                            <div class="toolClass" id="experiment" style="display: none;">#}
{#                                <table>#}
{#                                    <tbody>#}
{#                                        <div class="form-group row">#}
{#                                            <div class="col-sm-12">#}
{#                                                 <label class="col-form-label">{{ toolform.facilityName.label }}<span style="color: red;">*</span> </label>#}
{#                                            </div>#}
{#                                             <div class="col-sm-12">#}
{#                                                 {{ toolform.facilityName(class_='form-control',title=toolform.facilityName.description,**{'data-toggle': 'tooltip'}) }}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="form-group row">#}
{#                                            <div class="col-sm-12">#}
{#                                                 <label class="col-form-label">{{ toolform.measurement.label }}<span style="color: red;">*</span> </label>#}
{#                                            </div>#}
{#                                             <div class="col-sm-12">#}
{#                                                 {{ toolform.measurement(class_='form-control',title=toolform.measurement.description,**{'data-toggle': 'tooltip'}) }}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </tbody>#}
{#                                </table>#}
{#                            </div>#}
{#                            {{ render_field_curate(toolform.URLs) }}#}
{#                            {{ render_field_curate(toolform.saveas) }}#}
{#                             <div data-toggle="fieldset-tools" id="extra-fieldset-tools">#}
{#                                <label class="col-form-label">{{ toolform.extraFields.label }}</label> <button type="button" class="btn btn-theme-colored" data-toggle="fieldset-add-row-tools" data-target="#extra-fieldset-tools">+</button>#}
{#                                <table id="extraTableTools">#}
{#                                    {% for extra in toolform.extraFields %}#}
{#                                    <tr data-toggle="fieldset-entry-tools" id="entry-tools">#}
{#                                        <td style="padding-bottom: 1rem;">{{ extra.extrakey(class_='form-control',title=extra.extrakey.description,**{'data-toggle': 'tooltip'}) }}</td>#}
{#                                        <td style="padding-bottom: 1rem;">{{ extra.extravalue(class_='form-control',title=extra.extravalue.description,**{'data-toggle': 'tooltip'}) }}</td>#}
{#                                        <td style="padding-bottom: 1rem;"><button type="button" class="btn btn-theme-colored" data-toggle="fieldset-remove-row-tools" id="extraToolFields-{{loop.index0}}-remove">-</button></td>#}
{#                                    </tr>#}
{#                                    {% endfor %}#}
{#                                </table>#}
{#                            </div>#}
{#                             <div style="padding-bottom: 1rem;">#}
{#                                    <input type="submit" id="btnToolSave"#}
{#                                           value="Save"#}
{#                                           class="btn btn-theme-colored btn-lg m-0"#}
{#                                           style="font-weight: bold; height: 50px;" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });"/>#}
{#                                 <input type="button" id="btnToolReset"#}
{#                                           value="Reset"#}
{#                                           class="btn btn-theme-colored btn-lg m-1"#}
{#                                           style="font-weight: bold; height: 50px;" onclick="$('#ToolForm')[0].reset();"/>#}
{#                             </div>#}
{#                        </form>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{##}
    {# Where is the datasets located#}
{#        <div class="custom-card" id="editDataset">#}
{#            <div class="card-header collapsed" id="headingDataset" data-toggle="collapse" data-target="#datasetOne" aria-expanded="false" aria-controls="datasetOne">#}
{#                <h3 class="mb-0" data-toggle="tooltip" title="This section collects information about the datasets generated in the paper. A dataset is a file or folder or a combination of the two which contains raw data generated in the scientific paper. Datasets are created by an instrument or by a versioned software">#}
{#                    Add Datasets from your paper to the workflow#}
{#                </h3>#}
{#            </div>#}
{##}
{#            <div id="datasetOne" class="collapse" aria-labelledby="datasetOne" data-parent="#accordion">#}
{#                <div class="card-body">#}
{#                  <form method="post" id="DatasetForm" name="datasets">#}
{#                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>#}
{#                            <table>#}
{#                                <tbody>#}
{#                                {{ render_field_curate(datasetform.files) }}#}
{#                                {{ render_field_curate(datasetform.readme) }}#}
{#                                {{ render_field_curate(datasetform.URLs) }}#}
{#                                {{ render_field_curate(datasetform.saveas) }}#}
{#                                </tbody>#}
{#                            </table>#}
{#                             <div data-toggle="fieldset-datasets" id="extra-fieldset-datasets">#}
{#                                <label class="col-form-label">{{ datasetform.extraFields.label }}</label> <button type="button" class="btn btn-theme-colored" data-toggle="fieldset-add-row-datasets" data-target="#extra-fieldset-datasets">+</button>#}
{#                                <table id="extraTableDatasets">#}
{#                                    {% for extra in datasetform.extraFields %}#}
{#                                    <tr data-toggle="fieldset-entry-datasets" id="entry-datasets">#}
{#                                        <td style="padding-bottom: 1rem;">{{ extra.extrakey(class_='form-control',title=extra.extrakey.description,**{'data-toggle': 'tooltip'}) }}</td>#}
{#                                        <td style="padding-bottom: 1rem;">{{ extra.extravalue(class_='form-control',title=extra.extravalue.description,**{'data-toggle': 'tooltip'}) }}</td>#}
{#                                        <td style="padding-bottom: 1rem;"><button type="button" class="btn btn-theme-colored" data-toggle="fieldset-remove-row-datasets" id="extraDatasetFields-{{loop.index0}}-remove">-</button></td>#}
{#                                    </tr>#}
{#                                    {% endfor %}#}
{#                                </table>#}
{#                            </div>#}
{#                             <div style="padding-bottom: 1rem;">#}
{#                                    <input type="submit" id="btnDatasetSave"#}
{#                                           value="Save"#}
{#                                           class="btn btn-theme-colored btn-lg m-0"#}
{#                                           style="font-weight: bold; height: 50px;" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });"/>#}
{#                                 <input type="button" id="btnDatasetReset"#}
{#                                           value="Reset"#}
{#                                           class="btn btn-theme-colored btn-lg m-1"#}
{#                                           style="font-weight: bold; height: 50px;" onclick="$('#DatasetForm')[0].reset();"/>#}
{#                             </div>#}
{#                        </form>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
        {# Where is the scripts located#}
{#        <div class="custom-card" id="editScript">#}
{#            <div class="card-header collapsed" id="headingScript" data-toggle="collapse" data-target="#scriptOne" aria-expanded="false" aria-controls="scriptOne">#}
{#                <h3 class="mb-0" data-toggle="tooltip" title="This section collects information about the datasets generated in the paper. A dataset is a file or folder or a combination of the two which contains raw data generated in the scientific paper. Datasets are created by an instrument or by a versioned software">#}
{#                    Add Scripts from your paper to the workflow#}
{#                </h3>#}
{#            </div>#}
{##}
{#            <div id="scriptOne" class="collapse" aria-labelledby="scriptOne" data-parent="#accordion">#}
{#                <div class="card-body">#}
{#                  <form method="post" id="ScriptForm" name="scripts">#}
{#                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>#}
{#                            <table>#}
{#                                <tbody>#}
{#                                {{ render_field_curate(scriptform.files) }}#}
{#                                {{ render_field_curate(scriptform.readme) }}#}
{#                                {{ render_field_curate(scriptform.URLs) }}#}
{#                                {{ render_field_curate(scriptform.saveas) }}#}
{#                                </tbody>#}
{#                            </table>#}
{#                            <div data-toggle="fieldset-scripts" id="extra-fieldset-scripts">#}
{#                                <label class="col-form-label">{{ scriptform.extraFields.label }}</label> <button type="button" class="btn btn-theme-colored" data-toggle="fieldset-add-row-scripts" data-target="#extra-fieldset-scripts">+</button>#}
{#                                <table id="extraTableScripts">#}
{#                                    {% for extra in scriptform.extraFields %}#}
{#                                    <tr data-toggle="fieldset-entry-scripts" id="entry-scripts">#}
{#                                        <td style="padding-bottom: 1rem;">{{ extra.extrakey(class_='form-control',title=extra.extrakey.description,**{'data-toggle': 'tooltip'}) }}</td>#}
{#                                        <td style="padding-bottom: 1rem;">{{ extra.extravalue(class_='form-control',title=extra.extravalue.description,**{'data-toggle': 'tooltip'}) }}</td>#}
{#                                        <td style="padding-bottom: 1rem;"><button type="button" class="btn btn-theme-colored" data-toggle="fieldset-remove-row-scripts" id="extraScriptFields-{{loop.index0}}-remove">-</button></td>#}
{#                                    </tr>#}
{#                                    {% endfor %}#}
{#                                </table>#}
{#                            </div>#}
{#                             <div style="padding-bottom: 1rem;">#}
{#                                    <input type="submit" id="btnScriptSave"#}
{#                                           value="Save"#}
{#                                           class="btn btn-theme-colored btn-lg m-0"#}
{#                                           style="font-weight: bold; height: 50px;" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });"/>#}
{#                                    <input type="button" id="btnScriptReset"#}
{#                                           value="Reset"#}
{#                                           class="btn btn-theme-colored btn-lg m-1"#}
{#                                           style="font-weight: bold; height: 50px;" onclick="$('#ScriptForm')[0].reset();"/>#}
{#                             </div>#}
{#                        </form>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>

    {# Curator Information #}
    <div class="custom-card" id="showCurator" style="display: none;">
        <div class="card-header" id="headingDetails" title="The identity of the person who curated the paper.">
            <h3 class="mb-0">
                Curator Information
                <a id="detailsLink" title='Edit the details of the curator'><i class='fa fa-edit custom-icon' title="Edit the curator"></i></a>
            </h3>
        </div>
        <div class="card-body">
            <div class="paper-col-info"><label style="float: left">Name: &nbsp;</label>
                <p style="float: left" id="lblCuratorName"></p></div>
            <div class="paper-col-info"><label style="float: left">Email Address: &nbsp;</label>
                <p style="float: left" id="lblCuratorEmail"></p></div>
            <div class="paper-col-info"><label style="float: left">Affiliation: &nbsp;</label>
                <p style="float: left" id="lblCuratorAffiliation"></p></div>
        </div>
    </div>

    {# Server Information #}
    <div class="custom-card" id="showServer" style="display: none;">
        <div class="card-header" id="headingServer" title="The location of the paper.">
            <h3 class="mb-0">
                Server Information
                <a id="serverLink" title='Edit the details of the location'><i class='fa fa-edit custom-icon'></i></a>
            </h3>
        </div>
        <div id="serverDetailsOne">
            <div class="card-body">
                <div class="paper-col-info"><label style="float: left">Server path: &nbsp;</label>
                    <p style="float: left" id="lblServer"></p></div>
            </div>
        </div>
    </div>

    {# Project Information #}
    <div class="custom-card" id="showProject" style="display: none;">
        <div class="card-header" id="headingProject" title="Absolute path/location of the paper.">
            <h3 class="mb-0">
                Project Information
                <a id="projectLink" title='Edit the details of the project'><i class='fa fa-edit custom-icon'></i></a>
            </h3>
        </div>
        <div id="projectDetailsOne">
            <div class="card-body">
                <div class="paper-col-info"><label style="float: left">Paper location: &nbsp;</label>
                    <p style="float: left" id="lblProject"></p></div>
            </div>
        </div>
    </div>

    {# Where is workflow#}
    <div class="custom-card" id="editWorkflow" style="display:none;">
        <div class="card-header">
            <h3 class="mb-0" data-toggle="tooltip" title="This step defines the workflow of the paper. A workflow represents how the content of the paper was created. Use the Edit Button in the canvas to add: Add External Node , or to Add Node Connection. The type of nodes are listed on the right. (Hover over the node for hints).">
                    Build your workflow
            </h3>
        </div>
        <div id="workflowOne">
            <div class="card-body">
                 <form method="post" action="workflow">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div id="node-popUp">
                    <span id="node-operation">Add External</span> <br>
                    <input type="hidden" id="node-label"/>
                    <table style="margin:auto;">
                        <tr>
                            <td>Description</td><td><input id="node-readme" class="tooltipster" title="Enter a  description about the external resources used in the project." value="" /></td>
                        </tr>
                        <tr>
                            <td>URL</td><td><input id="node-url" class="tooltipster" title="Enter a url pointing to the external resource." value="" /></td>
                        </tr>
                    </table>
                    <input type="button" value="Save External" class="tooltipster" title="Saves the External resource information." id="node-saveButton" />
                    <input type="button" value="cancel" id="node-cancelButton" />
                </div>
                <div id="edge-popUp">
                    <span id="edge-operation">edge</span> <br>
                    <input type="button" value="save" id="edge-saveButton" />
                    <input type="button" value="cancel" id="edge-cancelButton" />
                </div>
                <div id="divWorkflow"></div>
                <div id="divLegends"></div>
                    <span class="input-group-btn">
                        <input type="button"
                               title="Adds a free flow to the nodes and edges. This may disperse the nodes zoom in or zoom out as per need."
                               id="Movement" value="Rearrange" onclick="addPhysics();"
                               class="btn btn-theme-colored btn-lg m-2"
                               style="font-weight: bold; height: 50px;">
                        <input type="button" class="btn btn-theme-colored btn-lg m-2"
                               title="Continue to Step 7."
                               id="Save"
                               value="Continue" style="font-weight: bold; height: 50px;"
                               onclick="connectedNodes('POST');">
                    </span>
                </form>
            </div>
        </div>
    </div>



    {# Chart Modal #}
    <div class="modal fade" id="chartModal" tabindex="-1" role="dialog" aria-labelledby="chartModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="chartModalLabel">Add new chart</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <form method="post" id="chartform" name="charts">
                                <table>
                                    <tbody>
                                    {{ render_field_curate(chartform.caption) }}
                                    {{ render_field_curate(chartform.number) }}
                                    {{ render_field_curate(chartform.files) }}
                                    {{ render_field_curate(chartform.imageFile) }}
                                    {{ render_field_curate(chartform.notebookFile) }}
                                    {{ render_field_curate(chartform.properties) }}
                                    {{ render_field_curate(chartform.saveas) }}
                                    </tbody>
                                </table>
                                 <div data-toggle="fieldset-charts" id="extra-fieldset-charts">
                                    <label class="col-form-label">{{ chartform.extraFields.label }}</label> <button type="button" class="btn btn-theme-colored" data-toggle="fieldset-add-row-charts" data-target="#extra-fieldset-charts">+</button>
                                    <table id="extraTableCharts">
                                        {% for extra in chartform.extraFields %}
                                        <tr data-toggle="fieldset-entry-charts" id="entry-charts">
                                            <td style="padding-bottom: 1rem;">{{ extra.extrakey(class_='form-control',title=extra.extrakey.description,**{'data-toggle': 'tooltip'}) }}</td>
                                            <td style="padding-bottom: 1rem;">{{ extra.extravalue(class_='form-control',title=extra.extravalue.description,**{'data-toggle': 'tooltip'}) }}</td>
                                            <td style="padding-bottom: 1rem;"><button type="button" class="btn btn-theme-colored" data-toggle="fieldset-remove-row-charts" id="extraChartFields-{{loop.index0}}-remove">-</button></td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                 <div style="padding-bottom: 1rem;">
                                        <input type="submit" id="btnChartSave"
                                               value="Save"
                                               class="btn btn-theme-colored btn-lg m-1"
                                               style="font-weight: bold; height: 50px;" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });"/>
                                        <input type="button" id="btnChartReset"
                                               value="Reset"
                                               class="btn btn-theme-colored btn-lg m-1"
                                               style="font-weight: bold; height: 50px;" onclick="$('#chartform')[0].reset();"/>
                                 </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Chart Modal #}
    <div class="modal fade" id="treeModal" tabindex="-1" role="dialog" aria-labelledby="treeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="treeModalLabel" data-toggle="tooltip" title="The paper content is a widget that allows the user to navigate the content of the paper and enter file names during the tagging operation.">Paper Content</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                       <form class="tree-modal-form" name="tree-modal-form">
                            <div id="tree-modal">
                            </div>
                           <input type="hidden" name="formname" id="formname" value=""/>
                           <input type="hidden" name="fieldname" id="fieldname" value=""/>
                           <input type="button" id="btnCopy"
                                               value="Copy"
                                               class="btn btn-theme-colored btn-lg m-1"
                                               style="font-weight: bold; height: 50px;"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

























    {#    <div class="row custom-card mt-3">#}
    {#        <div class="col-md-12">#}
    {#            <div class="paper-col-info">#}
    {#                <h3 class="pt-0"> <label style="float: left">Who is curating the paper?</label> </h3>#}
    {#                <a id="detailsLink" title='Edit the details of the curator' data-toggle='modal' data-target='#detailsModal'><i class='fa fa-edit custom-icon'></i></a>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {##}
    {##}
    {#    <div id="detailsToggle" class="panel-group toggle pb-0 mb-10">#}
    {#        <div class="panel">#}
    {#            <div class="panel-heading">#}
    {#                <div class="panel-title">#}
    {#                    <a data-toggle="collapse" href="#details" id="detailscollap" class="active"#}
    {#                       aria-expanded="true">#}
    {#                        <span class="open-sub"></span><strong>Curator contact information</strong>#}
    {#                    </a>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div id="details" class="panel-collapse in collapse show" aria-expanded="true">#}
    {#                <div class="panel-body">#}
    {#                    <div id="divDetails" class="wow fadeInDown" style="margin-top: 10px;">#}
    {##}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {##}
    {#        </div>#}
    {#    </div>#}
    {##}
    {##}
    {#    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel"#}
    {#         aria-hidden="true">#}
    {#        <div class="modal-dialog modal-lg" role="document">#}
    {#            <div class="modal-content">#}
    {#                <div class="modal-header">#}
    {#                    <h5 class="modal-title" id="detailsModalLabel" title="This step defines the identity of the person that is using Qresp | Curator to generate metadata."> Identify who is curating the paper </h5>#}
    {#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
    {#                        <span aria-hidden="true">&times;</span>#}
    {#                    </button>#}
    {#                </div>#}
    {#                <div class="modal-body">#}
    {#                    <div class="container-fluid pt-80 pb-10">#}
    {#                        <div class="row">#}
    {#                            <div class="col-md-12 col-lg-12 p-20 pl-md-0 md-text-center">#}
    {#                                <form method="post" id="detailsform">#}
    {#                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>#}
    {#                                    <div class="form-group row">#}
    {#                                        <label class="col-sm-12 col-form-label">Name<span style="color: red;">*</span>  </label>#}
    {#                                        <div class="col-sm-4">#}
    {#                                            {{ detailsform.firstName(class_='form-control',title=detailsform.firstName.description,**{'data-toggle': 'tooltip'}) }}#}
    {#                                        </div>#}
    {#                                        <div class="col-sm-4">#}
    {#                                            {{ detailsform.middleName(class_='form-control',title=detailsform.middleName.description,**{'data-toggle': 'tooltip'}) }}#}
    {#                                        </div>#}
    {#                                        <div class="col-sm-4">#}
    {#                                            {{ detailsform.lastName(class_='form-control',title=detailsform.lastName.description,**{'data-toggle': 'tooltip'}) }}#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    {{ render_field(detailsform.emailId) }}#}
    {#                                    {{ render_field(detailsform.affiliation) }}#}
    {#                                    <span class="input-group-btn">#}
    {#                                        <input type="submit" id="btnDetails"#}
    {#                                               value="Save"#}
    {#                                               class="btn btn-theme-colored btn-lg m-0"#}
    {#                                               style="font-weight: bold; height: 50px;">#}
    {#                                    </span>#}
    {#                                </form>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    {# Where is the curator section #}

    {#    <div class="row custom-card mt-3">#}
    {#        <div class="col-md-12">#}
    {#            <div class="paper-col-info">#}
    {#                <h3 class="pt-0"> <label style="float: left">Where is the paper?</label> </h3>#}
    {#                <a id="curatorLink" title='Edit the details of the curator' data-toggle='modal' data-target='#serverModal'><i class='fa fa-edit custom-icon'></i></a>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {##}
    {#    <div class="modal fade" id="serverModal" tabindex="-1" role="dialog" aria-labelledby="serverModalLabel"#}
    {#         aria-hidden="true">#}
    {#        <div class="modal-dialog modal-lg" role="document">#}
    {#            <div class="modal-content">#}
    {#                <div class="modal-header">#}
    {#                    <h5 class="modal-title" id="serverModalLabel" title="This step defines the location of the remote server where the paper content is organized and  stored. The paper will be accessed by establishing HTTP access."> Select HTTP Connection </h5>#}
    {#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
    {#                        <span aria-hidden="true">&times;</span>#}
    {#                    </button>#}
    {#                </div>#}
    {#                <div class="modal-body">#}
    {#                    <div class="container-fluid pt-80 pb-10">#}
    {#                        <div class="row">#}
    {#                            <div class="col-md-12 col-lg-12 p-20 pl-md-0 md-text-center">#}
    {#                                <form method="post" action="server" name="server">#}
    {#                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>#}
    {#                                    {{ serverform.kind(title=serverform.kind.description,**{'data-toggle': 'tooltip','data-placement':'left'}) }}#}
    {#                                    <div id="HTTP" class="serverClass">#}
    {#                                        {{ render_field(serverform.hostUrl) }}#}
    {#                                    </div>#}
    {#                                    <span class="input-group-btn">#}
    {#                                        <input type="submit" id="btnServer"#}
    {#                                               value="Continue"#}
    {#                                               class="btn btn-theme-colored btn-lg m-0"#}
    {#                                               style="font-weight: bold; height: 50px;">#}
    {#                                       <input type="button" id="btnSkip"#}
    {#                                              value="Skip"#}
    {#                                              class="btn btn-theme-colored btn-lg m-0"#}
    {#                                              style="font-weight: bold; height: 50px;" onclick="window.location='/project';">#}
    {#                                   </span>#}
    {#                                </form>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    <script src="{{ url_for('static', filename='./javascript/modules/testpaperdetails.js') }}"></script>
    <script type="text/javascript">
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-126882431-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'> </script>

{% endblock %}