html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  scroll-behavior: smooth;
}

#__next {
  display: flex;
  flex-grow: 1;
}

a {
  text-decoration: none;
}

.poster {
  object-fit: scale-down;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  min-height: 48vmin;
  max-width: 125vmin;
}

.blur {
  overflow: hidden;
  height: 48vmin;
  filter: blur(10px);
}

/* Navigation Button CSS for Workflow */

div.vis-network div.vis-navigation div.vis-button {
  background-size: cover !important;
  background-position: 0 !important;
}

div.vis-network div.vis-navigation div.vis-button:hover {
  box-shadow: 0px 0px 5px 1px #800000 !important;
}

div.vis-navigation div.vis-button:hover:before {
  color: black !important;
  padding: 3px !important;
  position: relative !important;
  width: 50px !important;
  left: -10px !important;
  top: -110px !important;
  z-index: 1000 !important;
  text-align: center !important;
}

.vis-up {
  background-image: url("/images/arrow_circle.svg") !important;
  background-size: cover !important;
}

.vis-down {
  background-image: url("/images/arrow_circle.svg") !important;
  transform: rotate(180deg);
}

.vis-left {
  background-image: url("/images/arrow_circle.svg") !important;
  transform: rotate(270deg);
}

.vis-right {
  background-image: url("/images/arrow_circle.svg") !important;
  transform: rotate(90deg);
}

.vis-zoomIn {
  background-image: url("/images/zoom_in.svg") !important;
}

.vis-zoomOut {
  background-image: url("/images/zoom_out.svg") !important;
}

.vis-zoomExtends:hover:before {
  display: block !important;
  content: "Bring all nodes into view";
}

.vis-zoomExtends {
  background-image: url("/images/fit.svg") !important;
}

div.vis-label {
  padding: 0.15em !important;
  font-size: 1.15em !important;
  text-transform: uppercase !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

div.vis-network div.vis-edit-mode div.vis-button {
  height: max-content !important;
  text-align: center !important;
  vertical-align: middle !important;
  border-radius: 0.25em !important;
  border: 1px solid black !important;
}

div.vis-network div.vis-edit-mode div.vis-button:hover {
  box-shadow: 0px 0px 5px 1px #800000 !important;
}

div.vis-network div.vis-manipulation div.vis-button {
  height: max-content !important;
  text-align: center !important;
  vertical-align: middle !important;
  border-radius: 0.25em !important;
  border: 1px solid black !important;
}

div.vis-network div.vis-manipulation div.vis-button:hover {
  box-shadow: 0px 0px 5px 1px #800000 !important;
}

.vis-back {
  background-image: url("/images/back.svg") !important;
  background-position: left center !important;
}

.vis-edit {
  background-image: url("/images/edit.svg") !important;
  background-position: left center !important;
}

.vis-add {
  background-image: url("/images/add.svg") !important;
  background-position: left center !important;
}

.vis-delete {
  background-image: url("/images/delete.svg") !important;
  background-position: left center !important;
}

.vis-connect {
  background-image: url("/images/edge.svg") !important;
  background-position: left center !important;
}

div.vis-network div.vis-close {
  margin: auto !important;
  background-image: url("/images/close.svg") !important;
  background-position: center center !important;
  border-radius: 0.25em !important;
}

div.vis-network div.vis-close:hover {
  box-shadow: 0px 0px 5px 1px #800000 !important;
}

.vis-separator-line {
  display: none !important;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: all 100ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: all 100ms;
}
