{% extends "base_curator.html" %}

{% block page_content %}
    <!-- Header -->
        <div class="card">
                <div class="card-body">
                   <p>
                        Qresp | Curator has generated the metadata file. <br/>
					    An email with a link has been sent to your email address(Inbox/Spam folder). <br/>
					    Please click on the link to publish the metadata to the Qresp | Explorer.

                   </p>
                </div>
            </div>

{% endblock %}