{% extends "base_curator.html" %}

{% block page_content %}

    {% from "_formhelpers.html" import render_field %}
    <div class="card text-center">
        <div class="card-body">
            <h3 data-toggle="tooltip" title="Connect to a mongo database" class="card-title"> Identify who is curating the paper </h3>
                    <form method="post" action="details">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Name<span style="color: red;">*</span>  </label>
                                <div class="col-sm-4">
                                    {{ form.firstName(class_='form-control',title=form.firstName.description,**{'data-toggle': 'tooltip'}) }}
                                </div>
                                <div class="col-sm-2">
                                    {{ form.middleName(class_='form-control',title=form.middleName.description,**{'data-toggle': 'tooltip'}) }}
                                </div>
                                <div class="col-sm-4">
                                    {{ form.lastName(class_='form-control',title=form.lastName.description,**{'data-toggle': 'tooltip'}) }}
                                </div>
                        </div>
                        {{ render_field(form.emailId) }}
                        {{ render_field(form.affiliation) }}
                        <span class="input-group-btn">
                            <input type="submit" id="btnDetails"
                                   value="Continue"
                                   class="btn btn-theme-colored btn-lg m-0"
                                   style="font-weight: bold; height: 45px;">
                        </span>
                    </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='./javascript/modules/details.js') }}"></script>

{% endblock %}