{% extends "base.html" %}

{% block page_content %}

    {% from "_formhelpers.html" import render_field %}

    <div class="card text-center">
        <div class="card-body">
            <h3 data-toggle="tooltip" title="Connect to a mongo database"> Connect to Mongo Database </h3>
            <form method="post" action="admin">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                {{ render_field(form.hostname) }}
                {{ render_field(form.port) }}
                {{ render_field(form.username) }}
                {{ render_field(form.password) }}
                {{ render_field(form.dbname) }}
                {{ render_field(form.collection) }}
                {{ render_field(form.isSSL) }}
                <span class="input-group-btn">
                            <input type="submit" id="btnExplorer"
                                   name="general_search_button" value="Connect"
                                   class="btn btn-theme-colored btn-lg m-0" title="Start from scratch."
                                   style="font-weight: bold; height: 45px;">
                </span>
            </form>
        </div>
    </div>



{% endblock %}