{% extends "base_curator.html" %}

{% block page_content %}

    {% from "_formhelpers.html" import render_field %}
    <div class="card text-center">
        <div class="card-body">
            <h3 data-toggle="tooltip" title="Connect to a mongo database" class="card-title"> Connect to the server where the paper content is located </h3>
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-12 p-20 pl-md-0 md-text-center">
                    <form method="post" action="server">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        {{ render_field(form.serverName) }}
                        {{ render_field(form.username) }}
                        {{ render_field(form.password) }}
                       <span class="input-group-btn">
                            <input type="submit" id="btnServer"
                                   value="Continue"
                                   class="btn btn-theme-colored btn-lg m-0"
                                   style="font-weight: bold; height: 45px;">
                           <input type="button" id="btnSkip"
                                   value="Skip"
                                   class="btn btn-theme-colored btn-lg m-0"
                                   style="font-weight: bold; height: 45px;" onclick="window.location='/project';">
                       </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='./javascript/modules/server.js') }}"></script>

{% endblock %}